body {
  margin: 0;
  background-color: whitesmoke;

  --text-font: Verdana, Geneva, Tahoma, sans-serif;
  --text-color: white;
  --light-blue: rgb(28, 130, 173);
  --aqua-green: rgb(0, 201, 136);
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;

  margin: auto;
}
.page {
  margin: 70px auto 40px auto;
}

/* header */

@media screen and (max-width: 780px) {
  .search-area .search-box {
    width: 100px;
  }
}

@media screen and (max-width: 510px) {
  .header-elements .brands-conatiner {
    display: none;
  }
  header .header-elements {
    margin: 0;
  }
}

/* title */
.title-container {
  font-size: 45px;
  font-family: var(--text-font);
  font-weight: 600;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
}

/* grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-element {
  padding: 30px;
  text-align: center;
  font-size: x-large;
  cursor: pointer;
  color: black;
  text-decoration: none;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

